core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
os.environ.setdefault("DATABASE_URL", "my_copied_database_url")
*.sqlite3
__pycache__/
