<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Things I need to do:</h1>
    <br>
    <ol>
        <li>Finish tutorial</li>
        <li>Create all the HTML</li>
        <li>Style with CSS</li>
        <li>Add funtionality with JS</li>
        <li>Create README file</li>
    </ol>
  </body>
</html>
